@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
/*font-family: 'Roboto', sans-serif;*/

*, *:after, *:before {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(256, 256, 256);
}
body{
    background-color: rgb(241,241,241);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    width: 100%;
}
/*/ NAV /*/
nav{
    background-color: rgb(0, 95, 152);
    color: rgb(256, 256, 256);
    padding: 0 20px;
    height: 10%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>ul{
    height: 60px;
}
.logo{
    height: 40px;
    width: auto;
    padding: 5px 0;
}
.listMenu li{
    padding: 15px;
    cursor: pointer;
    transition: box-shadow 0.5s;
}
.listMenu li:hover{
    box-shadow: 0 10px 10px black;
}
.media li{
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 40px;
}
.media li a:hover{
    text-shadow: 10px 10px 10px black;
    font-size: 25px;
}
.navBtn{
    display: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    width: 25px;
    height: 25px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.navBtn:hover{
    text-shadow: 10px 10px 10px black;
    font-size: 25px;
}
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 85%;
}

/*/ page 1 /*/
.page1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.page1-title{
    margin: 0 auto;
    padding-top: 10px;
    color: #515558;
    height: 10%;
}
.container{
    display: flex;
    flex-direction: row;
    margin: 10px 30px;
    height: 85%;
}
.container-video {
    display: flex;
    justify-content: center;
    width: 60%;
    padding: 0 10px;
}
.container-video__elem{
    width: 95%;
    height: 95%;
}
.container-description{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #515558;
    margin: 0 auto;
}
.container-description_btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.11vmax;
}
.btnDesc{
    padding: 1vmax;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 10px 10px 15px #515558;
    text-align: center;
}
.btnDesc.active{
    background-color: rgb(0, 95, 152);
    color: white;
    box-shadow: none;
}
.container-description_text{
    margin: 15px 15px;
    padding: 15px;
    border: 1px solid black;
    overflow: auto;
    width: 95%;
    height: 430px;
}
.text2,.text3{
    display: none;
}
.text1 {
    font-size: 1.02vmax;
}
.text2 {
    font-size: 0.96vmax;
}
.text3 {
    font-size: 1.15vmax;
}

/*/ page 2 /*/
.page2{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.page2-title{
    margin: 0 auto;
    padding-top: 10px;
    color: #515558;
    height: 10%;
}
.screen  {
    display: flex;
    overflow: hidden;
    position: relative;
}
.slides{
    display: flex;
    position: absolute;
    height: 90%;
}
.page2-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page2-container__title{
    margin: 15px auto;
    color: #515558;
    height: 10%;
    text-align: center;
}
.page2-container-desc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.page2-container-desc-img{
    width: 50%;
    height: 100%;
    padding: 30px 30px 30px 50px;
}
.img1{
    width: 100%;
    height: 100%;
    background-image: url("../img/web.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img2{
    background-image: url("../img/python.jpg");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img3{
    background-image: url("../img/market.jpeg");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img4{
    background-image: url("../img/data.png");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img5{
    background-image: url("../img/safer.png");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.img6{
    background-image: url("../img/mobile.jpg");
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.page2-container-desc__text{
    display: flex;
    width: 50%;
    height: 100%;
    padding: 30px 50px 30px 30px;
    color: #515558;
    align-items: center;
}
.btnSlide {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 50px;
    font-weight: 900;
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 95, 152);
    opacity: 0.4;
    transition: opacity 0.5s;
}
.btnSlide:hover {
    opacity: 1;
}
.btnSlide:focus {
    outline: none;
}
.btnRight {
    right: 0;
}
.section-circle {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    align-content: center;
    justify-content: space-between;
    height: 10%;
}
.section-circle .circle{
    width: 20px;
    height: 20px;
    background-color: rgb(0, 95, 152);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    list-style: none;
    opacity: 0.4;
    transition: opacity 0.5s;
}
.circle:hover {
    opacity: 1;
}
.circle:focus {
    outline: none;
}
.circle + .circle {
    margin-left: 10px;
}
.circle.active {
    border: 2px solid black;
    width: 20px;
    height: 20px;
}

/*/ page 3 /*/
.page3{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 95, 152);
}
.page3-title{
    margin: 0 auto;
    padding-top: 10px;
    color: black;
    text-shadow: 5px 0 15px white;
    opacity: 0.7;
    height: 10%;
}
.page3-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 20px 40px;
}
.page3-data-map{
    width: 60%;
    height: 100%;
}
.page3-data-contacts{
    width: 40%;
    height: 100%;
    color: white;
    font-size: 2vmax;
    margin: 0 auto;
    padding-left: 20px;
}
.page3-data-contacts-text{
    padding: 10px 0;
}
.btnCall{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 20vmax;
    padding: 1.3vmax;
    font-size: 2vmax;
    cursor: pointer;
}
.btnCall:hover {
    text-shadow: 10px 10px 10px black;
    box-shadow: 10px 10px 10px black;
    font-size: 2.1vmax;
}

.modal-container{
    display: flex;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.modal-elem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: white;
    box-shadow: 10px 10px 50px black;
    padding: 30px;
    font-size: 2vmax;
    color: rgb(0, 95, 152);
    border-radius: 20px;
}
.modal-form{
    display: flex;
    flex-direction: column;
}
.modal-form input {
    width: 20vmax;
    height: 25px;
}
.modal-form textarea {
    width: 30vmax;
    height: 50px;
}
.modal-form p{
    padding: 15px 0 5px;
}
.modal-button{
    margin: 20px 0;
    width: 20vmax;
    padding: 1.3vmax;
    background-color: rgb(0, 95, 152);
    border: 2px solid rgb(241,241,241);
    border-radius: 10px;
    color: white;
    font-size: 2.5vmax;
    cursor: pointer;
}
.modal-button:hover {
    box-shadow: 10px 10px 15px black;
    text-shadow: 5px 5px 10px black;
}
.modal-button:focus { outline: none; }

.footer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 5%;
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 95, 152);
    width: 100%;
    color: white;
    padding-right: 30px;
}

@media (max-width: 650px) {

    .listMenu {
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: rgb(0, 95, 152);
        /*transform: translateX(100%);*/
        width: 120px;
        z-index: 5;
    }

    .media {
        display: none;
        position: absolute;
        right: 0;
        top: 210px;
        background-color: rgb(0, 95, 152);
        /*transform: translateX(100%);*/
        width: 120px;
        height: 30px;
        padding: 0;
        z-index: 5;
    }

    .navBtn {
        display: flex;
    }

    .page1-title {
        margin: 0;
        font-size: 2vmax;
    }

    .container {
        flex-direction: column-reverse;
    }

    .container-video {
        margin: 0 auto;
        width: 100%;

    }

    .container-video__elem {
        height: 35vh;
    }

    .container-description {
        width: 87vw;
        height: 40vh;
    }

    .container-description_btns {
        font-size: 2vmax;
    }

    .text1 {
        font-size: 1.3vmax;
    }

    .text2 {
        font-size: 1.1vmax;
    }

    .text3 {
        font-size: 1.5vmax;
    }

    .page2-container-desc {
        flex-direction: column;
    }

    .page2-container-desc-img {
        width: 100%;
        height: 50%;
        padding: 0;
    }

    .page2-container-desc__text {
        width: 100%;
        height: 50%;
        justify-content: center;
        padding: 10px 50px;
        overflow: auto;
    }

    @media (max-width: 450px) {
        .page1-title {
            font-size: 1.5vmax;
        }
        .container-description_btns {
            font-size: 1.6vmax;
        }

    }
}
